* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: "Droid Sans","Baskerville",serif;                         
    background-color: rgba(2, 2, 2, 0.8);    
    color: rgba(255, 255, 255, 0.7);                   
  }
.canvas{
    margin:1rem auto;
    width:90%; /* 288 px*/
}    

 header{                            
    width: 85.0694444%; /* 245/288 px */
    margin: 2rem auto;
    
}


header, .avatare img, section.projects{
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem; 
    -o--border-radius: .2rem; 
    border-radius: .2rem; 

}
header{
    text-align: center; 
    background-color: rgba(2, 2, 2, 0.8);
    
}

header h1{
    margin: 0;
}

.avatare img {
    max-width: 100%;     
    vertical-align: middle;   
    
}


 .box{    
    width:100%;
    padding: 1rem;
    display: inline-block;
  /*   padding: 0.5rem 1rem ; */
} 
.name{
    display: inline-block;
}
.name h1 {
    font-size:1.4rem;  
    border-bottom:1px solid;
}
.name h2 {
    font-size:1.2rem;  
}
ul{
    padding:0;
    margin:0;
    list-style: none;

}

.social-media-links {    
    margin-top: 0.5rem;
}
.social-media-links li{
    display: inline-block;
}
.social-media-links a{
    text-decoration:none;
    color:white;    
    margin:0.5rem;
    font-size: 250%;        
    color: rgba(255, 255, 255, 0.7);
}
    



section.projects{
    background-color: rgba(2, 2, 2, 0.8);
    width: 85.0694444%; /* 245/288 px */
    margin: 2rem auto;
    padding: 1rem;
}    
section.projects h3{
    font-weight: normal;

}

section blockquote {    
    border-left: .2rem solid #eee;
    line-height: 1.55rem;
    margin: 0;
    padding: .5rem;
}

a{
    color: #369;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}